<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur mon Blog Django </title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Django</a></h1>
        </header>

        <article>
            <time>publication: 07.06.2021, 17:30</time>
            <h2><a href="">Mon premier article</a></h2>
            <p>Chers lecteurs et lectrices, je debute mes propos pas cette phrase " coder est super facile , don't be Afraid Keep calm and code the world.</p>
        </article>
        
        <article>
            <time>publication: 07.06.2021, 17:31</time>
            <h2><a href="">Mon second article</a></h2>
            <p>Let to GOOOOOOOOOOOOOOOO Every one 
            je realiase le test du push  .</p>
        </article>
    </body>
</html>